body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  width: 100%;
}

.navbar {
  background: #1d4ed8;
  color: white;
  text-align: center;
  padding:15px 20px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-weight: bold;
  background-color: #881fc5;
  padding : 15px 20px;
  font-family:Arial, sans-serif;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  padding: 20px;
}

.box {
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.box h3 {
  margin-bottom: 8px;
}

textarea {
  width: 95%;
  height: 260px;
  resize: vertical;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: monospace;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0 30px;
}

button {
  background-color: #881fc5;;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #153ea8;
}

button:disabled {
  background: #9db3f4;
  cursor: not-allowed;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #333;
}
